<h1>Authors#edit</h1>
<p>Find me in app/views/authors/edit.html.erb</p>

<%= form_with(model: @author, local: true) do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>
  <%= form.label :age %>
  <%= form.number_field :age %>
  <%= form.fields_for :books do |book_form| %>
    <%= book_form.label :name %>
    <%= book_form.text_field :name %>
    <%= book_form.label :_delete do |l| %>
      <%= book_form.check_box :_delete %>
      <%= l.translation %>
    <% end %>
  <% end %>
  <%= form.submit %>
<% end %>
