<h1>Authors#new</h1>
<p>Find me in app/views/authors/new.html.erb</p>

<%= form_with(model: @author, local: true) do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>
  <%= form.label :age %>
  <%= form.number_field :age %>
  <%= form.fields_for :books do |book_form| %>
    <%= book_form.label :name %>
    <%= book_form.text_field :name %>
  <% end %>
  <%= form.submit %>
<% end %>
